.bgVidLog {
    position: relative; 
    height: 100vh;
    overflow: hidden;
    background-image: url("../assets/pokeBackdrop.png"); 
    background-position: 50%;
    background-position-y: 70px;
    background-size: 49%;
    background-repeat: no-repeat;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures video covers the full background */
    z-index: -1; /* Keeps video behind other elements */
}

.BDimage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Places the backdrop between the video and input container */
    overflow: hidden;
}

.BDlogo img {
    width: 50%; /* Adjust size if needed */
    height: auto;
}

.inputBoxUser {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 48px;
    width: 350px;
    font-size: large;
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    background: rgb(73, 73, 73);
    padding-left: 8px;
    margin-top: 10px;
    justify-content: left;
}

.inputBoxPass {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 48px;
    width: 350px;
    font-size: large;
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(251, 251, 251);
    background: rgb(73, 73, 73);
    padding-left: 8px;
    justify-content: left;
}

.inputBoxUser:focus,
.inputBoxPass:focus {
    border: 1px solid rgb(202, 68, 68);
    outline: none;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-top: 20px; 
}

.logoTextLog {
    font-family: PokeFont;
    font-size: 50px;
    margin-top: -50px; 
}

.inputContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #f1f1f1;
    box-shadow: 0px 0px 55px rgba(0, 0, 0, 0.596);
    padding: 80px 60px 60px;
    border-radius: 12px;
    width: 400px; 
    height: 500px;
    margin: auto;
    margin-top: 8%;
    z-index: 2; 
    gap: 10px;
}

.inputButton {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    outline: none;
    border: 1px solid rgb(156, 65, 65);
    padding: 15px 32px;
    border-radius: 12px;
    background: none;
    background: rgb(156, 65, 65);
    color: rgb(255, 207, 207);
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: .1s linear;
}

.inputButton:hover {
    background: rgb(93, 39, 39);
    color: #9b7979;
}

.inputButtonCreate {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    outline: none;
    border: 2px solid rgb(156, 65, 65);
    padding: 15px 32px;
    border-radius: 12px;
    background: none;
    background: rgb(255, 255, 255);
    color: rgb(169, 40, 40);
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: .1s linear;
}

.inputButtonCreate:hover {
    background: rgb(227, 154, 154);
    color: rgb(104, 66, 66);
}

.logText {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
    text-align: left;
    
}

.logTextMid {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
    margin: auto;
}

.errorText {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
    color: rgb(151, 17, 17);
}