.bod {
    background: scroll;
    background-color: #f6f8f9;
    color: #222;
    width: 100%;
    height: 10vh;
    border-radius: 11px;
    background-color: #FFFFFF;
    z-index: 1;
    top: 0;
    transition: all 0.5s ease-in-out;
}

.bodDark {
    background: scroll;
    background-color: #222;
    color: #f6f8f9;
    width: 100%;
    height: 10vh;
    z-index: 1;
    top: 0;
    transition: all 0.5s ease-in-out;
}