@font-face {
    font-family: 'PokeFont';
    src: url(./assets/ketchum/Ketchum.otf);
}

html {
    background-color: #222;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    top: 0;
    position: inherit;
    width: 100%;
    min-height: 5vh;
}

.bodyCont {
    z-index: 3;
    /* Higher than both .text and .bgVid */
}

.bgVid {
    z-index: 1;
    /* Lower than both .bodyCont and .text */
    position: relative;
}

.main {
    width: 100%;
    height: 85vh;
}

video {
    width: 100%;
    height: 100%;
    object-fit: fill;
    top: 0;
    /* Correct the top value to 0 */
    position: absolute;
    /* Ensure video stays behind other elements */
    z-index: inherit;
    /* Inherits from .bgVid */
}

.text {
    font-family: PokeFont;
    font-style: italic;
    text-align: center;
    text-shadow: 0 0 5px #007bff, 0 0 10px #3a51e7;
    -webkit-text-stroke: 2px #007bff;
    position: fixed;
    /* Default position */
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 239, 61);
    z-index: 2;
    transition: transform 0.5s ease;
    /* Optional: smooth transition */
}

.text.absolute {
    position: absolute;
    /* Change to absolute when scrolled past threshold */
    top: 250px;
    /* Adjust as needed for perfect centering */
    transition: transform 0.5s ease;
}

/* Parallax */
.Pimage {
    position: relative;
    height: 90vh;
    border-radius: 40px; /* Simplified border-radius shorthand */
    overflow: hidden; /* Ensure the content respects the border-radius */
    z-index: 1; /* Ensure the background stays behind the logo */
}
.Pimage ::backdrop {
    filter: blur(8px); /* Apply blur to the background */
    -webkit-filter: blur(8px) drop-shadow(12px); /* Apply both blur and drop shadow */
}

.Plogo {
    position: absolute;
    top: 300px;           
    left: 50%;          
    transform: translate(-50%, -50%); /* Center logo vertically and horizontally */
    z-index: 2; /* Ensure the logo stays on top of the blurred background */
}

.Plogo img {
    width: 700px; /* Set logo size */
    height: auto; /* Maintain aspect ratio */
    filter: drop-shadow(15px); /* Keep drop shadow for the logo */
    -webkit-filter: drop-shadow(12px);
}

.Ppack1 {
    position: absolute;
    top: 125px;           
    left: 80%;          
    transform: translate(-50%, -50%); /* Center logo vertically and horizontally */
    z-index: 2; /* Ensure the logo stays on top of the blurred background */
    transform: rotate(15deg);
    transition: transform 0.3s ease-in-out;
}

.Ppack1 img {
    width: 250px; /* Set logo size */
    height: auto; /* Maintain aspect ratio */
    box-shadow: -20px 20px 30px rgba(0, 0, 0, 1);
    transition: transform 0.3s ease-in-out;
}

.Ppack1 img:hover {
    transform: rotate(-25deg) scale(1.15);
    transition: transform 0.3s ease-in-out;
   
}

.Ppack2 {
    position: absolute;
    top: 125px;           
    left: 3%;          
    transform: translate(-50%, -50%); /* Center logo vertically and horizontally */
    z-index: 2; /* Ensure the logo stays on top of the blurred background */
    transform: rotate(-15deg);
    transition: transform 0.3s ease-in-out;
}

.Ppack2 img {
    width: 250px; /* Set logo size */
    height: auto; /* Maintain aspect ratio */
    filter: drop-shadow(15px); /* Keep drop shadow for the logo */
    -webkit-filter: drop-shadow(12px);
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 1);
    transition: transform 0.3s ease-in-out;
}

.Ppack2 img:hover {
    transform: rotate(25deg) scale(1.15);
    transition: transform 0.3s ease-in-out;
}


.Pcard3 {
    position: absolute;
    top: 300px;           
    left: 50%;          
    transform: translate(-50%, -50%); 
    z-index: 2; 
}