@font-face {
    font-family: 'PokeFont';
    src: url(./assets/ketchum/Ketchum.otf);
}

html {
    background-color: #222;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    top: 0;
    position: inherit;
    width: 100%;
    min-height: 5vh;
}

.bodyCont {
    z-index: 3;
    /* Higher than both .text and .bgVid */
}

.bgVid {
    z-index: 1;
    /* Lower than both .bodyCont and .text */
    position: relative;
}

.main {
    width: 100%;
    height: 85vh;
}

video {
    width: 100%;
    height: 100%;
    object-fit: fill;
    top: 0;
    /* Correct the top value to 0 */
    position: absolute;
    /* Ensure video stays behind other elements */
    z-index: inherit;
    /* Inherits from .bgVid */
}

.text {
    font-family: PokeFont;
    font-style: italic;
    text-align: center;
    text-shadow: 0 0 5px #007bff, 0 0 10px #3a51e7;
    -webkit-text-stroke: 2px #007bff;
    position: fixed;
    /* Default position */
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 239, 61);
    z-index: 2;
    transition: transform 0.5s ease;
    /* Optional: smooth transition */
}

.text.absolute {
    position: absolute;
    /* Change to absolute when scrolled past threshold */
    top: 250px;
    /* Adjust as needed for perfect centering */
    transition: transform 0.5s ease;
}

/* Parallax */
.Pimage {
    position: relative;
    height: 90vh;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    -webkit-filter: drop-shadow(12);
    border-radius: 40px 40px 40px 40px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100vh;
    width: 100%;
}