
@font-face {
    font-family: 'PokeFont';
    src: url(./assets/ketchum/Ketchum.otf);
}

* {
    margin: 0;
    padding: 0;
}

.container {
    top: 0;
    position: inherit;
    width: 100%;
    min-height: 5vh;
}

.bgVid {
    top: 2;
}

.main {
    width: 100%;
    height: 100vh;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.text {
    font-family: PokeFont;
    font-size: 50px;
    font-style: italic;
    text-shadow: 0 0 5px #007bff, 0 0 10px #3a51e7;
    -webkit-text-stroke: 2px #007bff;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 239, 61);
    z-index: 2;
}

