.logoText {
    font-family: PokeFont;
    font-size: 60px;
    /*
    -webkit-text-stroke: 1px #007bff;
    color: rgb(255, 239, 61);
    */
    transition: 0.5s;
}

.logoTextDark {
    font-family: PokeFont;
    font-size: 60px;
    color:#f6f8f9;
    transition: 0.5s ease-in-out;
}

.nav {
    z-index: 3;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f6f8f9;
    transition: 0.5s ease-in-out;

}

.navDark {
    z-index: 3;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #222;
    transition: 0.5s ease-in-out;
}


.logo {
    z-index: 3;
    width: 75px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.logo:hover {
    z-index: 3;
    transform: rotate(720deg);
}


.toggleIcon {
    z-index: 3;
    width: 60px;
    cursor: pointer;
    margin-left: 30px;
    transition: all 0.5s ease-in-out;
}

.toggleIcon:hover {
    z-index: 3;
    transform: rotate(720deg);
}

.searchBox {
    z-index: 3;
    display: flex;
    align-items: center;
    background: #242424;
    padding: 3px 20px;
    border-radius: 40px;
}

.searchBox input {
    z-index: 3;
    padding: 6px;
    background: transparent;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 18px;
    max-width: 200px;
}
ul {
    z-index: 3;
    flex: 1;
    list-style: none;
    padding-left: 145px;
}

ul li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    z-index: 3;
    display: inline-block;
    margin: 10px 30px;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.light {
    color:#222;
    
}

.dark {
    color: #f6f8f9;
}

ul li:hover {
    z-index: 3;
    transform: scale(1.25);
}